<br><br><br><br><br><br>
<div class="container bg-faded py-3">
  <h1 class="text-center">Contact Information</h1>
  <div class="row">
      <div class="col text-center">Feel free to contact me by clicking the links below</div>
  </div>
  <hr>

  <hr>
  <div class="row">
      <div class="col-4 mx-auto">
          <div class="card card-body mb-2">
              <!-- <h6>Linked In</h6> -->
              <a target="_blank" href="https://www.linkedin.com/in/tjteruel" class="nav-item nav-link">My LinkedIn</a>
          </div>
      </div>
      <div class="col-4 mx-auto">
          <div class="card card-body mb-2">
              <!-- <h6>Git Hub</h6> -->
              <a target="_blank" href="https://github.com/tjteruel/" class="nav-item nav-link">My GitHub</a>
          </div>
      </div>
      <div class="col-4 mx-auto">
          <div class="card card-body mb-2">
              <!-- <h6>Email</h6> -->
              <a target="_blank" href="mailto:tjteruel@gmail.com" class="nav-item nav-link">My Email</a>
          </div>
      </div>

  </div>
  <!-- <hr>
  <h4 class="text-center">Flexbox utils in Bootstrap 4</h4>
  <code>.row.justify-content-between</code>
  <div class="row justify-content-between">
      <div class="col-3">
          <div class="card card-body mb-2">col-3</div>
      </div>
      <div class="col-3">
          <div class="card card-body mb-2">col-3</div>
      </div>
      <div class="col-3">
          <div class="card card-body mb-2">col-3</div>
      </div>
  </div>
  <code>.row.justify-content-around</code>
  <div class="row justify-content-around">
      <div class="col-4">
          <div class="card card-body mb-2">col-4</div>
      </div>
      <div class="col-4">
          <div class="card card-body mb-2">col-4</div>
      </div>
  </div>
  <code>.row.justify-content-center</code>
  <div class="row justify-content-center">
      <div class="col-4">
          <div class="card card-body mb-2">col-6</div>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-2">
          <div class="card card-body mb-2">col-2</div>
      </div>
      <div class="col-2">
          <div class="card card-body mb-2">col-2</div>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-7">
          <div class="row">
              <div class="col">
                  <div class="card card-body mb-2">col</div>
              </div>
              <div class="col">
                  <div class="d-flex card card-body mb-2">center</div>
              </div>
              <div class="col">
                  <div class="card card-body mb-2">col that is wider with content</div>
              </div>
          </div>
      </div>
  </div>
  <h4 class="text-center">Flexbox with auto-margins</h4>
  <code>.row</code>
  <div class="row">
      <div class="col-3">
          <div class="card card-body mb-2">col-3</div>
      </div>
      <div class="col-3 mx-auto">
          <div class="card card-body mb-2">col-3 <code>.mx-auto</code></div>
      </div>
      <div class="col-3">
          <div class="card card-body mb-2">col-3</div>
      </div>
  </div>
  <div class="row">
      <div class="col-3">
          <div class="card card-body mb-2">col-3 with more content</div>
      </div>
      <div class="col-3 mx-auto">
          <div class="card card-body mb-2">col-3 <code>.mx-auto</code></div>
      </div>
      <div class="col-3">
          <div class="card card-body mb-2">col-3</div>
      </div>
  </div>
  <div class="row">
      <div class="col-3 mr-auto">
          <div class="card card-body mb-2">col-3 <code>.mr-auto</code></div>
      </div>
      <div class="col-3">
          <div class="card card-body mb-2">col-3</div>
      </div>
      <div class="col-3 ml-auto">
          <div class="card card-body mb-2">col-3 <code>.ml-auto</code></div>
      </div>
  </div>
</div> -->
